[Unit]
Description=System Vibrator Daemon
After=deviced.service

[Service]
BusName=org.tizen.system.vibrator
SmackProcessLabel=System
ExecStart=/usr/bin/deviced-vibrator
Restart=always
RestartSec=0
KillSignal=SIGUSR1
CapabilityBoundingSet=~CAP_MAC_ADMIN
CapabilityBoundingSet=~CAP_MAC_OVERRIDE

[Install]
WantedBy=multi-user.target
