[Unit]
Description=Enadle sdb at booting time
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/direct_set_debug.sh --sdb-set

[Install]
WantedBy=basic.target
